<p>entrada works!</p>
<p>Hola, {{ email }}</p>
<form (ngSubmit)="crear(ciudadForm)" #ciudadForm="ngForm">
  <label for="ciudad">Ciudad</label>
  <input
  pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]*"
    type="text"
    ngModel
    #ciudad="ngModel"
    placeholder="añade ciudad"
    name="ciudad"
    (input)="comprobar(ciudadForm)"
  />
<span *ngIf="ciudad.dirty && ciudad.valid">
  <span *ngIf="!repetida">Nombre disponible (servidor)</span>
  <span *ngIf="repetida">Repetida (servidor)</span>
</span>
<span *ngIf="ciudad.dirty && !ciudad.valid">
  <span>Nombre no válido (cliente)</span>
</span>
  <button type="submit" [disabled]="ciudad.invalid || repetida">Create</button>
</form>
<select>
  <option *ngFor="let ciudad of ciudades$ | async" value="ciudad">
    {{ ciudad.ciudad }}
  </option>
</select>
